*{
    margin:0px;
    padding:0px;
}
.bar{
    background-color:blue;
}
.head{

}
.main{

}
.footer{

}
@media screen and (min-width:900px){
*{font-size:auto;}
}
@media screen and (min-width:600px) and (max-width:900px){
*{font-size:auto;}
}
@media screen and (max-width:600px){
.bar{display:none;}
*{font-size:auto;}
}